In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("pets.db")
cursor = connection.cursor()

In [3]:
cursor.execute(
    """
    create table if not exists kind (
        id integer primary key autoincrement,
        name text not null,
        food text,
        sound text
    )
"""
)

connection.commit()

In [4]:
cursor.execute(
    """
        insert 
            into kind(name, food, sound) 
            values (?,?,?)
        """,
    ("dog", "dogfood", "bark"),
)
connection.commit()

In [5]:
cursor.execute(
    """
        insert 
            into kind(name, food, sound) 
            values (?,?,?)
        """,
    ("cat", "catfood", "meow"),
)
connection.commit()

In [6]:
cursor.execute(
    """
    create table if not exists pet (
        id integer primary key autoincrement,
        name text not null,
        kind_id integer,
        age integer,
        owner text
    )
"""
)

connection.commit()

In [7]:
for name in ["dorothy", "suzy", "casey", "heidi"]:
    cursor.execute(
        """
        insert 
            into pet(name, kind_id, age, owner) 
            values (?,?,?,?)
        """,
        (name, 1, 9, "greg"),
    )
    connection.commit()

In [8]:

for name in ["sandy", "muffin", "shadow"]:
    cursor.execute(
        """
        insert 
            into pet(name, kind_id, age, owner) 
            values (?,?,?,?)
        """,
        (name, 2, 9, "greg"),
    )
    connection.commit()

In [9]:
cursor.execute("""select * from pet where kind_id=?""", (1,))
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'dorothy', 1, 9, 'greg')
(2, 'suzy', 1, 9, 'greg')
(3, 'casey', 1, 9, 'greg')
(4, 'heidi', 1, 9, 'greg')

In [10]:

cursor.execute("""select * from pet, kind where pet.kind_id=kind.id""", ())
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'dorothy', 1, 9, 'greg', 1, 'dog', 'dogfood', 'bark')
(2, 'suzy', 1, 9, 'greg', 1, 'dog', 'dogfood', 'bark')
(3, 'casey', 1, 9, 'greg', 1, 'dog', 'dogfood', 'bark')
(4, 'heidi', 1, 9, 'greg', 1, 'dog', 'dogfood', 'bark')
(5, 'sandy', 2, 9, 'greg', 2, 'cat', 'catfood', 'meow')
(6, 'muffin', 2, 9, 'greg', 2, 'cat', 'catfood', 'meow')
(7, 'shadow', 2, 9, 'greg', 2, 'cat', 'catfood', 'meow')

In [11]:

cursor.execute("""
    update pet
    set age = ? 
    where name = ?
    """, (11,"sandy"))
connection.commit()

In [12]:
cursor.execute("""
    delete from pet
    where type = ?
    """, ("cat",))
connection.commit()

OperationalError: no such column: type