In [3]:
import sqlite3

In [4]:
connection = sqlite3.connect("pets.db")
cursor = connection.cursor()

In [11]:
cursor.execute("""
    create table if not exists pets (
        id integer primary key autoincrement,
        name text not null,
        type text not null,
        age integer,
        owner text
    )
""")

connection.commit()

In [13]:

name = "dorothy"
cursor.execute("""
    insert 
        into pets(name, type, age, owner) 
        values (?,?,?,?)
    """,(name,"dog",9,"greg"))
connection.commit()

In [14]:
for name in ["suzy","casey","heidi"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """,(name,"dog",9,"greg"))
    connection.commit()

In [15]:

for name in ["sandy","muffin","shadow"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """,(name,"cat",9,"greg"))
    connection.commit()

In [16]:
cursor.execute("""select * from pets where type=?""",("dog",))
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'dorothy', 'dog', 9, 'greg')
(2, 'dorothy', 'dog', 9, 'greg')
(3, 'suzy', 'dog', 9, 'greg')
(4, 'casey', 'dog', 9, 'greg')
(5, 'heidi', 'dog', 9, 'greg')

In [17]:
cursor.execute("""
    update pets
    set age = ? 
    where name = ?
    """, (11,"sandy"))
connection.commit()

In [18]:
cursor.execute("""
    delete from pets
    where type = ?
    """, ("cat",))
connection.commit()